:root {
  /** Primary colors */
  --color-primary-a0: #75d5ff;
  --color-primary-a10: #62aed0;
  --color-primary-a20: #4f88a2;
  --color-primary-a30: #3d6577;
  --color-primary-a40: #2b434e;
  --color-primary-a50: #1a2429;

  /** Accent colors */
  --color-accent-a0: #e375ff;
  --color-accent-a10: #b961d0;
  --color-accent-a20: #924ea2;
  --color-accent-a30: #6c3c77;
  --color-accent-a40: #482a4f;
  --color-accent-a50: #261929;

  /** Danger colors */
  --color-danger-a0: #b41c2b;
  --color-danger-a10: #851d22;
  --color-danger-a20: #581919;
  --color-danger-a30: #2f1310;

  /** Success colors */
  --color-success-a0: #009f42;
  --color-success-a10: #167533;
  --color-success-a20: #184d25;
  --color-success-a30: #132916;

  /** Warning colors */
  --color-warning-a0: #f0ad4e;
  --color-warning-a10: #af7f3c;
  --color-warning-a20: #71532a;
  --color-warning-a30: #392b19;

  /** Info colors */
  --color-info-a0: #388cfa;
  --color-info-a10: #3267b5;
  --color-info-a20: #284475;
  --color-info-a30: #1a253b;

  /** Neutral colors */
  --color-neutral-a0: #ffffff;
  --color-neutral-a10: #c6c6c6;
  --color-neutral-a20: #919191;
  --color-neutral-a30: #5e5e5e;
  --color-neutral-a40: #303030;
  --color-neutral-a50: #000000;

  /** Dark theme surface colors */
  --surface-a0: #121212;
  --surface-a10: #282828;
  --surface-a20: #3f3f3f;
  --surface-a30: #575757;
  --surface-a40: #717171;
  --surface-a50: #8b8b8b;

  /** Dark theme tonal surface colors */
  --surface-tonal-a0: #1d2226;
  --surface-tonal-a10: #32373a;
  --surface-tonal-a20: #484c50;
  --surface-tonal-a30: #606367;
  --surface-tonal-a40: #787b7e;
  --surface-tonal-a50: #929497;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--surface-tonal-a0);
  color: white;
}

a {
  color: var(--color-primary-a0);
}
